<?php
$products = $this->getFeaturedProducts();
?>

<div id="product_list">
    <h1>Featured products</h1>
    <?php if (is_array($products) && count($products)) { ?>
        <ul>
            <?php foreach($products as $product) { ?>
                <li>
                    <a href="<?php echo $product['url'] ?>">
                        <?php echo $product['name'] ?>
                    </a>
                </li>
            <?php }?>
        </ul>
    <?php } ?>
</div>
